[run]
source = py/surveysim
omit =
   py/surveysim/_version.py
   py/surveysim/conftest*
   py/surveysim/cython_version*
   py/surveysim/setup_package*
   py/surveysim/*/setup_package*
   py/surveysim/*/*/setup_package*
   py/surveysim/sphinx/*
   py/surveysim/test/*
   py/surveysim/*/test/*
   py/surveysim/*/*/test/*

[report]
exclude_lines =
   # Have to re-enable the standard pragma
   pragma: no cover

   # Don't complain about packages we have installed
   except ImportError

   # Don't complain if tests don't hit assertions
   raise AssertionError
   raise NotImplementedError

   # Don't complain about script hooks
   ### def main\(.*\):
